{% extends "_layout.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<h1>Store</h1>
<form action="{{ url_for('s_create') }}" method="POST">
    <div class="form-group">
        <label for="store_name">Store Name:</label>
        <input type="text" name="store_name" class="form-control" placeholder="Enter the store name here"/>
    </div>

    <button type="submit" class="btn btn-primary">Add a store</button>
</form>
{% endblock %}