{% extends "_layout.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<h1>Stores</h1>
<table>
    <tr>
        <th>Stores</th>
        <th>Number of Warehouses</th>
        <th></th>
    </tr>
    <!-- put the loop of store list here -->
    {% for s in stores_list %}
    <tr>
        <td><a href="/store/{{ s.id }}">{{ s.name }}</a></td>
        <td>{{ s.warehouses | length }}</td>
        <td>
            <form action="{{ url_for('store_delete', id=s.id) }}" method="POST">
            <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}