{% extends "_layout.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<h1>Warehouse</h1>
<form action="{{ url_for('w_create') }}" method="POST">
    <div class="form-group">
        <label for="warehouse_name">Warehouse Name:</label>
        <input type="text" name="warehouse_name" class="form-control" placeholder="Enter the warehouse name here"/>
    </div>
    <select name="s_name" class="form-control">
        <option disabled selected value> --- Select the store --- </option>
        {% for s in store_list %}
            <option name="s_name" value="{{ s.id }}">{{ s.name }}</option>
        {% endfor %}
    </select>
    <br>
    <button type="submit" class="btn btn-primary">Add a warehouse</button>
</form>
{% endblock %}